body {
    padding: 0;
    margin: 0;
    display: grid;
    background-color:honeydew;

}

.logo {
    display: grid;
    width: 326px;
    height: 195px;
    background-color: blue;
    margin-left: 480px;
    margin-top: 25px;
}

.menu {
    display: grid;
    width: 1325px;
    height: 40px;
    background-color:burlywood;
    margin-top: 50px;
}

.openinginformation {
    display:grid;
    width: 776px;
    height: 236px;
    background-color: antiquewhite;
    margin-left: 255px;
    margin-top: 160px;
}

.photobanner {
    display: grid;
    width: 1325px;
    height: 531px;
    background-color: darkturquoise;
    margin-top: 25px;
}

.headlinetext {
    display: grid;
    width: 527px;
    height: 214px;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-left: 350px;
}

.photocollage {
    display: grid;
    width: 1325px;
    height:636px;
    background-color: darkturquoise;
    margin-top: 50px;

}

.menuinformation {
    display: grid;
    width: 1279px;
    height: 248px;
    background-color: antiquewhite;
    margin-left: 22px;
    margin-top: 40px;
}

.imagebanner {
    display:grid;
    width: 1325px;
    height: 541px;
    background-color: darkturquoise;
    margin-top: 40px;
}

.leftcolumnmap {
    display: grid;
    width: 643px;
    height: 626px;
    background-color: darkturquoise;
    margin-top: 20px;
}

.rightcolumnlogos {
    display:grid;
    width: 534px;
    height:525px;
    background-color: antiquewhite;
    margin-left: 740px;
    margin-top: -575px;
}

.footermenu {
    display:grid;
    width: 972px;
    height: 36px;
    background-color: blueviolet;
    margin-left: 175px;
    margin-top: 100px;
    margin-bottom: 25px;
}