
body{
   padding: 0;
   margin: 0;
   display: grid;
   background-color:white;
}

.text{
   width: 60%;
   height: 100%;
   background-color: white
   float: left;
}

.content{
   width: 80%;
   height: 1436px;
   margin: 15% 25% 25% 15%;
   
}


p{
   color:black;
   font-family: helvetica;
   line-height: 1; 
}

.poem{
   width: 90%;
   height: 100%
   margin-top: 50px;
   text-align:left;
   font-size: 2.5em;
 
}

.bigcontainer{
   width: 40%;
   height: 2535px;
   margin: 0px auto auto auto;
   background-color:#39FF14;
   margin-top: -1750px;
   margin-left: 779px;
}

.smallcontainertext{
   width: 80%;
   height: 800px;
   margin: 5% auto auto 25%;
   text-decoration: underline;
   text-underline-position: below;
   margin-top: 350px;
   margin-left: 25px;
   position: fixed;

}



/* ----------- SMART PHONES ----------- */


@media only screen and (max-width: 800px) {

   body{
      padding: 0;
      margin: 0;
      display: grid;
      background-color:white;
   
   .text{
      width: 60%;
      height: 100%;
      background-color: white
      float: left;
   }
   
   .content{
      width: 80%;
      height: 1436px;
      margin: 15% 25% 25% 15%;
      
   }
   
   
   p{
      color:black;
      font-family: helvetica;
      line-height: 1; 
   }
   
   .poem{
      width: 90%;
      height: 100%
      margin-top: 50px;
      text-align:left;
      font-size: 2.5em;
    
   }
   
   .bigcontainer{
      width: 40%;
      height: 2535px;
      margin: 0px auto auto auto;
      
      margin-top: -1750px;
      margin-left: 779px;
   }
   
   .smallcontainertext{
      width: 80%;
      height: 800px;
      text-decoration: underline;
      text-underline-position: below;
      margin-left: 25px;
      position: fixed;
   
   }

   .bar1 {
      width: 5px;
      height:100px;
      background-color: #39FF14;


   }
}

/* ----------- TABLETS ----------- */

@media only screen and (min-width: 800px) and (max-width: 1280px) {
   body{
      padding: 0;
      margin: 0;
      display: grid;
      background-color:#39FF14;
   
   .text{
      width: 60%;
      height: 100%;
      background-color: white
      float: left;
   }
   
   .content{
      width: 80%;
      height: 1436px;
      margin: 15% 25% 25% 15%;
      
   }
   
   
   p{
      color:black;
      font-family: helvetica;
      line-height: 1; 
   }
   
   .poem{
      width: 90%;
      height: 100%
      margin-top: 50px;
      text-align:left;
      font-size: 2.5em;
    
   }
   
   .bigcontainer{
      width: 40%;
      height: 2535px;
      margin: 0px auto auto auto;
      
      margin-top: -1750px;
      margin-left: 779px;
   }
   
   .smallcontainertext{
      width: 80%;
      height: 800px;
      text-decoration: underline;
      text-underline-position: below;
      margin-left: 25px;
      position: fixed;
   
   }


}